<!DOCTYPE html>
<html>

<head>
<%# アナリティクス %>
      
<%= analytics_init if Rails.env.production? %>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-N5VC610BST"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-203687862-1');
</script>

  <title>Furima</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <script type="text/javascript" src="https://js.pay.jp/v1/"></script>
  <%= stylesheet_link_tag 'application', media: 'all'%>
  <%= javascript_pack_tag 'application' %>
</head>

<body>
<%# yieldで、それぞれのアクション名に対するコントローラとアクションを呼び出している。 %>
  <%= yield %>
</body>

</html>